/* FONTS */

@font-face {
  font-family: 'dancing_scriptregular';
  src: url('../Fonts/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
       url('../Fonts/dancingscript-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dancing-font{
  font-family:'dancing_scriptregular' ;
  font-weight: 700;
  font-size: 43px;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


#preloader {
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  /*remove after completing  */
  /* display: none; */
  justify-content: center;
  align-items: center;
  transition: all 1s linear;
}

#loader path:nth-child(2) {
  stroke-dasharray: 344;
  stroke-dashoffset: 344;
  animation: line 2s ease forwards;
}

#loader path:nth-child(3) {
  stroke-dasharray: 354;
  stroke-dashoffset: 354;
  animation: line 2s ease forwards 0.3s;
}

#loader path:nth-child(4) {
  stroke-dasharray: 237;
  stroke-dashoffset: 237;
  animation: line 2s ease forwards 0.6s;
}

#loader path:nth-child(5) {
  stroke-dasharray: 368;
  stroke-dashoffset: 368;
  animation: line 2s ease forwards 0.9s;
}

#loader path:nth-child(6) {
  stroke-dasharray: 513;
  stroke-dashoffset: 513;
  animation: line 2s ease forwards 1.2s;
}

#loader path:nth-child(7) {
  stroke-dasharray: 354;
  stroke-dashoffset: 354;
  animation: line 2s ease forwards 1.5s;
}

#loader path:nth-child(8) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: line 2s ease forwards 1.8s;
}

#loader path:nth-child(9) {
  stroke-dasharray: 363;
  stroke-dashoffset: 363;
  animation: line 2s ease forwards 2.1s;
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}



.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
	background-color: #c67605;
  }
  #lblCartCount {
	  font-size: 12px;
	  background: #e0ae66;
	  color: #fff;
	  padding: 2px 5px;
	  border-radius: 20px;
	  vertical-align: top;
	  margin-left: -10px; 
  }

#home {
  width: 100%;
  display: none;
  opacity: 0;
  /* remove after completing */
  /* display: block; */
  transition: all 1s linear;
  background-color: #211b16;
  color: white;
}

.navbar-collapse {
  justify-content: flex-end;
}

.row {
  align-items: center;
  row-gap: 30px;
}
.cart {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-left: 200px;
}

.img-area {
  --show: 100%;
  background: url(../images/bg1.png) no-repeat fixed right;
  height: 600px;
  margin: 0;
  padding: 0;
  position: relative;
}

.img-area::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: var(--show);
  height: 600px;
  background-color: #211b16;
}

.button-primary {
  background-color: #e0ae66;
  color: white;
  padding: 8px 45px;
  border-radius: 35px;
  transition:0.5s;
}

.button-primary:hover{
    text-decoration: none;
    background-color: #F8D5A4;
    color: white;
}

#cart{
  display: none;
}


.dropdown-item:active{
  background-color: white !important;
}

.hero-img {
  box-shadow: -14px 5px 27px -12px rgba(54, 54, 54, 0.75);
  -webkit-box-shadow: -14px 5px 27px -12px rgba(54, 54, 54, 0.75);
  -moz-box-shadow: -14px 5px 27px -12px rgba(54, 54, 54, 0.75);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-5%);
    
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-5%);
	}
}

.primary-color{
    color: #e0ae66 !important;
}
.secondary-color{
    color: #cdcdcd !important;
}

.white-color{
  color: white;
}

.res-info{
    width: 100%;
    padding: 10px 5px;
    background-color: white;
    
}


.res-info a:hover{
    text-decoration: underline;
    color: #cdcdcd ;
}
/* BRANDS */

.brands img{
  width: 12%;
}
/* RESTAURANT */

.res-text{
    width: 100%;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-img{
    background: url(../images/mission.jpg) center no-repeat;
    width: 100%;
    min-height: 500px;

}
.mission-img2{
    background: url(../images/menu.jpg) center no-repeat;
    background-size: auto;
    min-height: 500px;
}

.bg-img{
    background: url(../images/lines.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    height: 1000px;
}


/* MENU */

.menu-section {
  column-gap: 20px;
  margin-top: 200px;
}

.menu-items{
  position: relative;
}

.menu-items::after{
  content: "";
  display: block;
  position: absolute;
  transition: 1.5 all ease-in-out !important;
  opacity: 0;
  width: 100%;
  height: 500px;
  background-color: #211b16;
  top: 0;
  left: 0;
}

.menu-items:hover{
  cursor: pointer;
}
.menu-items:hover::after{
  opacity: 0.3;
}

.mint{
    background: url(../images/mint.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  transform: translatey(50px);
}

.fries{
    background: url(../images/fires.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  transform: translatey(-50px);
}

.burger{
    background: url(../images/burger.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  transform: translatey(100px);
}

.pizza{
    background: url(../images/pizza.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  transform: translatey(-100px);
}

.wings{
    background: url(../images/wings.webp);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  transform: translatey(0px);
}

 
/* NEWS */

.news{
  background-color: #e0ae66;
  padding: 15px 0;

}

.email{
  width: 80%;
  outline: none;
  padding: 8px 20px ;
  background-color: #211b1600;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  transition: 0.3s ease-in-out;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email::placeholder{
  color:white
}

.email:focus::placeholder{
  color: #ce913a;
}

.email:focus{
  background-color: white;
  border-color: #ce913a;
  text-decoration:none;
  color: #ce913a;
}

.email-button{
  margin-left: 8px;
  padding: 8px 45px;
  background: none;
  border-radius: 30px;
  outline: none;
  border: 2px solid white;
  color: white;
  transition: 1s ease;
  cursor: pointer;
  text-decoration: none;
}

.email-button:hover{
  background-color: white;
  border-color: #ce913a;
  text-decoration:none;
  color: #ce913a;
}
.email-button:focus{
  outline: none;
}


/* FOOTER */

footer .social-icon a{
  color: #ce913a;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all .3s ease-in-out 0s;
}
footer .social-icon a:hover{
  background-color: #ce913a;
  color: #ffffff;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer li a {
  color: rgb(179, 179, 179);
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  transition: all .2s ease-in-out 0s;
}
footer li a:hover{
  color: #7c7c7c;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .cart {
    margin-left: 0;
  }
  .hero-img{
      display: none;
  }

  .bg-img{
    height: 800px;
  }

  .mint, .burger, .fries, .pizza, .wings{
    animation: none;
    transform: none;
    height: 400px;
  }

  .menu-section{
    column-gap: 10px;
    margin-top: 80px;
  }

  .brands img{
    width: 18%;
    padding: 10px 0;
  }
}